<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RolePermissionMapper">

    <select id="selectPermissionIdsByRoleId" parameterType="int" resultType="int">
        SELECT permission_id
        FROM role_permission
        WHERE role_id = #{roleId}
        ORDER BY permission_id
    </select>

    <delete id="deleteByRoleId" parameterType="int">
        DELETE FROM role_permission WHERE role_id = #{roleId}
    </delete>

    <insert id="insertRolePermission" parameterType="map">
        INSERT INTO role_permission (role_id, permission_id)
        VALUES (#{roleId}, #{permissionId})
    </insert>

    <select id="selectPermissionIdsByRoleIds" resultType="long">
        SELECT DISTINCT permission_id
        FROM role_permission
        WHERE role_id IN
        <foreach collection="roleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
