<component name="libraryTable">
  <library name="springboot-0.0.1-SNAPSHOT(1)">
    <CLASSES>
      <root url="jar://$USER_HOME$/Documents/WeChat Files/wxid_shccwzckgvkc22/FileStorage/File/2025-04/springboot-0.0.1-SNAPSHOT(1).jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>